{% extends 'portfolio/base.html' %}

{% block content %}
   <!-- Contact Me
    ============================================= -->
    <section id="contact" class="section bg-light">
    <form method="POST">
        {% csrf_token %}
    
      <div class="container px-lg-5">
        <!-- Heading -->
        <div class="position-relative d-flex text-center mb-5">
          <h2 class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0">Contact</h2>
          <p class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0">Get in Touch<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
        </div>
        <!-- Heading end-->
        <div class="row gy-5">
          <div class="col-md-4 col-xl-3 order-1 order-md-0 text-center text-md-start">
            <h2 class="mb-3 text-5 text-uppercase">Address</h2>
            <p class="text-3 mb-4">Tehran , iran<br>
           </p>
            <p class="text-3 mb-1"><span class="text-primary text-4 me-2"><i class="fas fa-phone"></i></span>(+98) 9128026963</p>
            <p class="text-3 mb-1"><span class="text-primary text-4 me-2"><i class="fas fa-fax"></i></span>(+98) 9378990958 </p>
            <p class="text-3 mb-4"><span class="text-primary text-4 me-2"><i class="fas fa-envelope"></i></span>seyedmajidfazel@gmail.com</p>
            
          </div>
          <div class="col-md-8 col-xl-9 order-0 order-md-1">
            <h2 class="mb-3 text-5 text-uppercase text-center text-md-start">Send me a message</h2>
			

			  <div class="row g-4">
                <div class="col-xl-6">
                  {{ form.subject }}
                    
                </div>
                <div class="col-xl-6">
                 
                    <br>
                </div>
				<div class="col">
          {{ form.message }}
					
				</div>
              </div>

              <p class="text-center mt-4 mb-0">
				<button id="submit-btn" class="btn btn-primary rounded-pill d-inline-flex" type="submit">Send Message</button>
              </p>
            
          </div>
        </div>
      </div>
    </form>
    </section>
    <!-- Contact Me end -->
{% endblock %}


